# dependencies
node_modules/
.pnp
.pnp.js
.pnpm-store/

# build outputs
.next/
out/
dist/
build/
*.tsbuildinfo

# testing
coverage/
playwright-report/
test-results/

# env (never commit)
.env
.env.local
.env.*.local

# vercel
.vercel/

# misc
.DS_Store
*.pem
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE
.idea/
.vscode/
!.vscode/extensions.json

# Prisma
apps/api/prisma/migrations/dev.db*

# Next.js generated
next-env.d.ts
